
/*Tipografia*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*selector de etiqueta */
h1,h2,h3 {
    background-color: rgb(116, 10, 10);
} 

.parrafo{
    font-family: "Roboto", sans-serif;
}

/* selector de clase */
.parrafo_estilo_1{
    color:rgb(35, 14, 60);
}

.parrafo_estilo_2{
    color:blue;
}

p {
color:red; 
}